* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    align-content: center;
    justify-items: center;
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;

}

.box {
    background-color: white;
    position: relative;
    margin: 1vh;
    padding: 1vh;
    border: 2px solid #d6d6d6;
    border-radius: 17px;

    min-height: 75vh;
    width: 80vw;

}

.div {
    display: flex;
    margin-top: inherit;
}

.h4 {
    margin: inherit;
    padding: 6px;
    margin-left: 10px;
    border: 1px solid grey;
    border-radius: 20px;
    font-size: medium;
    font-weight: 200;
    color: rgb(15, 15, 15);
    justify-items: center;
}

.img {
    border-radius: 20px;
    height: 54vw;
    width: 75vw;
    
}

h1.font {
    
    font-family: 'Gill Sans', 'Gill Sans MT',' Calibri', 'Trebuchet MS', 'sans-serif';
    font-size: x-large;
    text-decoration: underline;
    text-transform: capitalize;
    margin: 17px;
    font-weight: 100;
    color: black;
}
.font{
    word-break: break-all;
    font-family: 'Gill Sans', 'Gill Sans MT',' Calibri', 'Trebuchet MS', 'sans-serif';
    font-size:medium;
    text-transform: capitalize;
    margin: 17px;
    font-weight: 300;
    color: grey;
    word-break: break-all;
}
section h4{
    width:fit-content ;
    background:#b5e6ec;
   
    
    
}
section a{color:#000304;
text-decoration: none;
}
 h4:hover{
    background-color: grey;
    border-radius: 20px;
    
}




